.station {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  color: white;
  font-size: 14px;
  font-weight: 500;
  margin-bottom: 10px;
  background-color: rgb(255, 255, 255, 0.05);

  &.active {
    background-color: rgb(255, 255, 255, 0.2);
  }

  .note {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 60px;
    width: 60px;
  }
  .station-content {
    margin: 0 5px;
    display: flex;
    flex-direction: column;

    p {
      margin: 0;
      font-size: 12px;
    }

    span {
      font-weight: 300;
      font-size: 10px;
    }
  }
  .star {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 60px;
    width: 60px;
    margin-left: auto;
  }
}
