.playlist {
  width: calc(100% - 20px);
  min-height: calc(100% - 20px);
  transition: max-height 0.3s ease, opacity 0.3s ease;
  padding: 10px;

  &.short {
    min-height: calc(100% - 170px);
  }

  .tabs {
    display: grid;
    grid-template-columns: 1fr 1fr;
    color: white;

    .tab {
      display: flex;
      align-items: center;
      justify-content: center;
      height: 30px;
      border-bottom: 4px solid transparent;

      &.active {
        background-color: rgba(255, 255, 255, 0.05);
        border-bottom: 4px solid rgba(213, 0, 60, 1);
      }
    }
  }
  .list {
    margin: 20px 0;
    height: calc(100% - 43px);
    overflow-y: scroll;
    overflow-x: hidden;
  }
}
